
.hakkında{
    background-color: aqua;
    
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);

}

.anadental{
    color: rgb(0, 0, 0);
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    
}
.dental{
    color: rgb(0, 0, 0);
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;


}
